p{
  margin: 0;
}

.cardLink, .navLink{
  display: block;
  text-decoration: none;
  color: inherit;
}

.cardLink:hover{
  text-decoration: underline;
}

.cardLink:visited, .navLink{
  color: inherit;
}